 <!-- start slider -->

    <section class="sec-slide">
      <div class="container">

        <p>share your used books and help others <br>

          grow for free</p>
      </div>
    </section>

    <!-- end slider -->

    <!-- start book added -->
    <section class="sec-book-add" id="boooook">
      <div class="container">
        <h2>Recently added</h2>
        <div class="cont-book">

          {{#each books}}
          <div class="book-img-info">
            <div class="photo">
              <img src="{{this.img_url}}">
            </div>
            <div class="photo-info">
              <p class="name">{{this.title}}</p>
              <p class="isbn font">{{this.isbn}}</p>
              <p class="author font">{{this.auther}}</p>
              <p class="version font">{{this.version}}</p>

              <div class="btn-bor">
                <button><a href="mailto:{{this.creator_email}}">{{this.creator_email}}</a></button>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <a href="/moreBook" target="_blank"><p class="more">more books <span class='arrow'>&raquo;</span></p></a>
      </div>
    </section>

    <!-- end book added -->

    <!-- end book added -->

    <!-- start search about book -->
    <!-- start search about book -->
    <aside id="search">
      <div class="container">
        <div class="ser-book">
          <div class="form">
            <h2>search</h2><br><br>
            <form  id ="search_form" method="post" onsubmit="return true">
              <input type="text" id='keyword' name="keyword"><br><br>
              <br>
              <button type="submit"> search</button>
            </form>
          </div>
          <div class="info-book">
            <h2>result</h2>
            {{#if data}}
          {{#each data}}
            <div class="data-book">
              <div class="img">
                <img src="{{this.img_url}}">
              </div>
              <div class="data">
                <p>{{this.title}}</p>
                <p>{{this.isbn}}</p>
                <p>{{this.auther}}</p>
                <p>{{this.version}}</p>
              </div>
            </div>
            {{/each}}
            {{/if}}
          </div>
        </div>
      </div>
    </aside>


    <!-- end search about book -->
    <!-- start out team -->
    <main>
      <div class="container">
        <h2>our team</h2>
        <div class="team">
          <div class="ghadeer bord">
            <div class="photo">
              <img src="assets/gha.jpg">
            </div>
            <p class="head">Ghadeer  Abdel-Nabi</p>
            <p class="para">Full Stack Web Developer</p>
            <div class="git-fb">
              <a href="#"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="moath bord">
            <div class="photo">
              <img src="assets/moa.jpg">
            </div>
            <p class="head">Moath Alnajjar</p>
            <p class="para">Frontend Web Developer</p>
            <div class="git-fb">
              <a href="#"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>

            </div>
          </div>
          <div class="mahmoud bord">
            <div class="photo">
              <img src="assets/mah.jpg">
            </div>
            <p class="head">Mahmoud Aldahdouh</p>
            <p class="para">Backend Web Developer</p>
            <div class="git-fb">
              <a href="#"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- end out team -->
