<!-- start user -->

<section>
	<div class="container">
		<div class="user">
			<div class="photo">
				<img src="assets/gha.jpg">
			</div>
			<div class="information">
				<h2>Ghadeer Abed El-Nabi</h2>
				<p> Eng.ghadeer93@gmail.com</p>
			</div>
		</div>
	</div>
</section>

<!-- end user -->
<hr>
<!-- start board -->
<main>

	<div class="container">
		<div class="table-btn">
			<table rules="none">
				<caption>dashboard</caption>
				<tr class="hed-font">
					<th>id</th>
					<th>title</th>
					<th>isbn</th>
					<th>version</th>
					<th>auther</th>
					<th>url image</th>
					<th></th>
					<th></th>
				</tr>
				{{#each books}}
				<tr>
					<td>{{this.id}}</td>
					<td>{{this.title}}</td>
					<td>{{this.isbn}}</td>
					<td>{{this.version}}</td>
					<td>{{this.auther}}</td>
					<td class = 'img-src'><img src = "{{this.img_url}}"></td>

					<td><button class="del"><a  href ="/deleteBook/{{this.id}}">delete</a></button></td>
				</tr>
				{{/each}}
			</table>
			<div class="btn">
				<button id="mybtn" class="add">add</button>
			</div>
		</div>
	</div>
</main>
<!-- end board -->

<!-- start modal box -->
<div id="mymodal" class="modal">
	<div class="container">
		<div class="modal-content">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>add book</h2>
			</div>
			<div class="modal-body">
				<form id="form" action="/addbook" method="POST">
					<label>title</label><br>
					<input type="text" name="title">
					<br><br>
					<label>auther</label><br>
					<input type="text" name="auther">
					<br><br>
					<label>version</label><br>
					<input type="text" name="version">
					<br><br>
					<label>isbn</label><br>
					<input type="text" name="isbn">
					<br><br>
					<label>url image</label><br>
					<input type="text" name="img_url">
					<br><br><br>
					<div class="btn-center">
						<button type="submit">add book</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
<!-- end modal box -->

<!-- start msg -->

<div id="myMsg" class="msg">
	<div class="container">
		<div id="anim">
			<p>thank you,we hope return again</p>
		</div>
	</div>
</div>

<!-- end msg -->


<script src="js/msg.js" type="text/javascript"></script>
<script src="js/modal-box.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
